/venv/
/*/__pycache__/
/__pycache__/
/.idea/
/gitignore/
/db/likr.pem
/db/settings.json
/db/sysconfig.ini
/db/sysconfig_local.ini
/gAPI/client_secrets.json
/gAPI/authorizedcreds.dat
/gAPI/google-ads.yaml
/log_utils/slack_settings.json
/log/
/*/log/
/*.csv
/*.xlsx
/gensim_compose/word2vec*
/gensim_compose/*wiki_text*
/*/backup/