/venv/
/gensim_compose/wiki_text.txt
/gensim_compose/wiki_text_seg.txt
/gensim_compose/word2vec.model
/gensim_compose/word2vec.model.syn1neg.npy
/gensim_compose/word2vec.model.wv.vectors.npy
*/__pycache__
/.idea/
/gitignore/

/gensim_compose/wiki_text_seg_zh_only.txt
/gensim_compose/word2vec_zh_only.model
/gensim_compose/word2vec_zh_only.model.syn1neg.npy
/gensim_compose/word2vec_zh_only.model.wv.vectors.npy
/db/likr.pem
/db/settings.json
/db/sysconfig.ini
/db/sysconfig_local.ini
/gAPI/client_secrets.json
/gAPI/authorizedcreds.dat
/gAPI/google-ads.yaml
/log_utils/slack_settings.json
/log/
*/log/
*.csv
*.xlsx